<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger"> View Contact</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ipsam dolor velit nam repellendus quas corrupti consequatur obcaecati ipsum natus qui repellat quam, reiciendis temporibus quidem sunt quisquam tenetur nobis!</p>

    </div>
  </div>
</div>



<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-4">
     <img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="" class="contact-img-big">
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">Name: <span class="fw-bold">Name</span></li>
        <li class="list-group-item list-group-item-danger">Email: <span class="fw-bold">Email</span></li>
        <li class="list-group-item list-group-item-danger">Phone: <span class="fw-bold">Phone</span></li>
        <li class="list-group-item list-group-item-danger">Company: <span class="fw-bold">Name</span></li>
        <li class="list-group-item list-group-item-danger">Title: <span class="fw-bold">Email</span></li>
        <li class="list-group-item list-group-item-danger">Group Name: <span class="fw-bold">Phone</span></li>
      </ul>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <a routerLink="/" class="btn btn-danger">
        <i class="fa fa-arrow-alt-circle-left"></i> Back</a>
    </div>
  </div>
</div>
