<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger"> Edit Contact</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ipsam dolor velit nam repellendus quas corrupti consequatur obcaecati ipsum natus qui repellat quam, reiciendis temporibus quidem sunt quisquam tenetur nobis!</p>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form >
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Photo URL">
        </div>
        <div class="mb-2">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-2">
          <input type="number" class="form-control" placeholder="Phone">
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Company">
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Title">
        </div>
        <div class="mb-2">
         <select class="form-control" >
          <option value="">Select Group</option>
         </select>
        </div>
        <div class="mb-2">
          <input class="btn btn-danger" value="Update" type="submit">
          <a routerLink="/" class="btn btn-dark ms-2">close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="" class="contact-img">
    </div>
  </div>
</div>

